<main class="main">
  <div *ngIf='show; else Button' class='test-msg' (click)='closeMsg()'>{{showMsg}}</div>
  <!--технический баннер, закрывается при клике, показывается если show='true'-->
  <app-header></app-header>
  <div class="input-container">
    <label for='input'>Whrite here text for upper banner</label>
    <input type='text' #Input (input)='inputHandler($event)' id='input' [value]="inputDefaultValue">
    <!--здесь покащываются различные вариант байдинга-->
    <button (click)="getInputValue(Input.value)">ok</button>
    <!--текст меняется при клике на кнопку ok-->
    <input [(ngModel)]='showMsg'>
    <!--ngModel для двухстороннего байдинга-->
    <p>{{inputDefaultValue}}</p>
    <app-text [text]="title"></app-text>
  </div>
  <div [ngStyle]="
  {width: '100%'}">
    <app-create-post (onAddPost)="newPost($event)"></app-create-post>
  </div>
  <app-post-view [posts]="posts">

    <small *ngIf="posts.length > 2">Длинный</small>
  </app-post-view>
  <!-- пример работы с кастомными декораторорами -->
  <p appTestDirectiv="red" [dStyle]="{border: '2px dotted yellow'}" *appIfNot="isVisible">fsdfdsfsd</p>
  <p>{{2 | pipeExample:5}}</p>
  <p>{{pipeDateTest | date:'MMMM dd, yyy, HH:mm'}}</p>
  <p>{{pipeTest | uppercase | lowercase}}</p>
  <p>{{pipeTest | slice:1-4}}</p>

  <app-service-test-component></app-service-test-component>

 
</main>


<ng-template #Button>
  <!--кнопка для демонстрации баннера, показывается если show='false'-->
  <app-button [ngStyle]="
  {position: 'absolute'}
  " (click)='show=true'></app-button>
</ng-template>
